<app-main></app-main>
<section class="container">
        <div class="row active-with-click" >
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Red" >
                    <h2>
                        <strong>
                            <i class="fas fa-user"></i>
                            {{ user.name }}
                        </strong>
                        <strong>
                            <i class="fa fa-envelope-open"></i>
                            {{ user.email }}
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4UXD_cnoajTnoxMc37_eS1_ya0zZQ4GopwFr21qn6vMCzlg3S&s">
                        </div>
                        <!-- <div class="mc-description">
                            
                        </div> -->
                    </div>
                    <!-- <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a target=_parent href="https://www.wpdownloadmanager.com/" class="fa fa-fw fa-facebook"></a>
                        <a target=_parent href="https://www.wpdownloadmanager.com/"  class="fa fa-fw fa-twitter"></a>
                        <a target=_parent href="https://www.wpdownloadmanager.com/"  class="fa fa-fw fa-linkedin"></a>
                        <a target=_parent href="https://www.wpdownloadmanager.com/"  class="fa fa-fw fa-google-plus"></a>
                    </div> -->
                </article>
            </div>
        </div>
        <button type="submit" routerLink="/users">Users</button>
    </section>